<!-- Openingspagina rekentool Vennootschapbelasting - versiekiezer -->

<template>
    <div class="venb-tool tool">
        <h1 class="tool__heading-1">Rekentool vennootschapsbelasting</h1>
        <div class="tool-box">
            <label for="version" class="tool-box__label">Versie rekentool</label>
            <select id="version" v-model="version" class="tool-box__select">
                <option :value="key" :title="value.title" v-html="value.description" v-model="version"
                        v-for="(value, key) in options"></option>
            </select>
            <p class="tool-box__paragraph" v-if="version === 'v2019ajOld'" v-html="'Het belastbaar tijdperk vangt vóór 01.01.2018 aan.'"></p>
            <p class="tool-box__paragraph" v-if="version === 'v2019ajNew'" v-html="'Het belastbaar tijdperk vangt ten vroegste aan op 01.01.2018.'"></p>
            <p class="tool-box__paragraph" v-if="version === 'v2021ajOld'" v-html="'Het belastbaar tijdperk vangt vóór 01.01.2020 aan.'"></p>
            <p class="tool-box__paragraph" v-if="version === 'v2021ajNew'" v-html="'Het belastbaar tijdperk vangt ten vroegste aan op 01.01.2020.'"></p>

        </div>

        <keep-alive>
            <component :is="version" :baseUrl="baseUrl" :token="token"></component>
        </keep-alive>
    </div>
</template>

<script>
    import Validation from '../../../../common/resources/js/components/ValidationComponent.vue';
    import {versions, latestVersion} from './../venb-versions'

    export default {
        name: "venb",
        data() {
            return {
                version: latestVersion(),
                options: versions
            }
        },
        props: {
            baseUrl: {
                default: () => '',
                type: String
            },
            token: {
                type: String
            }
        },
        components: {
            Validation
        }
    }
</script>

<style lang="scss">

    @import '../../../../tax-shelter/resources/styling/scss/practinet';

/*
    $practinet-gray-94: #EFEFEF;
    $practinet-btn-blue: #2d4d96;
*/





</style>
