<!--suppress XmlInvalidId -->

<!-- Input en resultaten pagina berekening AJ 2021 Oud
     Aandachtpunten: input moet overeenstemmen met Venb2021OldDatabag.js -->

<template>
    <div class="venb venb-2019-new">
        <h2 class="tool__heading-2">Aanslagjaar 2021 Oud</h2>
        <button class="btn btn--outline btn--erase" @click="erase">Wis</button>

        <fieldset id="algemeen">
            <legend class="tool__legend">Algemeen</legend>
            <div class="wrapper-algemeen">
                <div>
                    <form>
                        <div class="tool-row">
                            <label class="tool-row__label" for="isNietAanspraakVerminderdTarief" >Gewoon tarief</label>
                            <p class="tool-row__code">1754</p>
                            <input id="isNietAanspraakVerminderdTarief" type="radio" class="tool-row__input-radio" name="tarief" value="false" v-model="input.isAanspraakVerminderdTarief">
                        </div>
                        <div class="tool-row">
                            <label class="tool-row__label" for="isAanspraakVerminderdTarief" >Verminderd tarief</label>
                            <p class="tool-row__code">1754</p>
                            <input id="isAanspraakVerminderdTarief" type="radio" class="tool-row__input-radio" name="tarief" value="true" v-model="input.isAanspraakVerminderdTarief">
                        </div>
                        <div class="tool-row">
                        <label class="tool-row__label" for="isVenootshapHuisvesting">Vennootschap voor huisvesting met 5%-tarief</label>
                        <p class="tool-row__code">1753</p>
                        <input id="isVenootshapHuisvesting" type="radio" class="tool-row__input-radio"  name="tarief" value="true" v-model="input.isVenootshapHuisvesting">
                        </div>
                    </form>
                </div>
                <div class="tool-row">
                    <label class="tool-row__label" for="isWijzigingAfsluitdatum26072017">Wijziging van de afsluitdatum van het boekjaar vanaf
                        26.07.2017</label>
                    <p class="tool-row__code">1878</p>
                    <input id="isWijzigingAfsluitdatum26072017" type="checkbox" class="tool-row__input-checkbox" v-model="input.isWijzigingAfsluitdatum26072017">
                </div>
            </div>

        </fieldset>
        <fieldset id="gewoneAanslagen">
            <legend class="tool__legend">Gewone aanlagen</legend>

            <div :class="errors.belastbaarGewoonTarief ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastbaarGewoonTarief">Belastbaar tegen gewoon tarief</label>
                    <p class="tool-row__code">1460</p>
                    <currency-input id="belastbaarGewoonTarief" type="text" class="tool-row__input-text"   name="belastbaarGewoonTarief" v-model="input.belastbaarGewoonTarief"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastbaarGewoonTarief"></validation>

            <div :class="errors.meerwaardeOpAandelen25 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="meerwaardeOpAandelen25">Meerwaarden op aandelen in principe belastbaar tegen 25%</label>
                    <p class="tool-row__code">1466</p>
                    <currency-input id="meerwaardeOpAandelen25" type="text" class="tool-row__input-text"   name="meerwaardeOpAandelen25" v-model="input.meerwaardeOpAandelen25"></currency-input>
                </div>
            </div>
            <validation :errors="errors.meerwaardeOpAandelen25"></validation>

            <div :class="errors.winstTaxShelter3399 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="winstTaxShelter3399">Voorheen vrijgestelde winst tax shelter tegen 33,99%</label>
                    <p class="tool-row__code">1473</p>
                    <currency-input id="winstTaxShelter3399" type="text" class="tool-row__input-text"   v-model="input.winstTaxShelter3399"></currency-input>
                </div>
            </div>
            <validation :errors="errors.winstTaxShelter3399"></validation>

            <div :class="errors.winstTaxShelter2958 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="winstTaxShelter2958">Voorheen vrijgestelde winst tax shelter tegen 29,58%</label>
                    <p class="tool-row__code">1477</p>
                    <currency-input id="winstTaxShelter2958" type="text" class="tool-row__input-text"   v-model="input.winstTaxShelter2958"></currency-input>
                </div>
            </div>
            <validation :errors="errors.winstTaxShelter2958"></validation>

          <div :class="errors.winstTaxShelter25 ? 'venb-input-error' : ''">
            <div class="tool-row">
              <label class="tool-row__label" for="winstTaxShelter2958">Voorheen vrijgestelde winst tax shelter tegen 25%</label>
              <p class="tool-row__code">1478</p>
              <currency-input id="winstTaxShelter25" type="text" class="tool-row__input-text"   v-model="input.winstTaxShelter25"></currency-input>
            </div>
          </div>
          <validation :errors="errors.winstTaxShelter25"></validation>

          <div :class="errors.verwezenlijkteMeerwaarde3399 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="verwezenlijkteMeerwaarde3399">Verwezenlijkte meerwaarden en voorzieningen tegen 33,99%</label>
                    <p class="tool-row__code">1468</p>
                    <currency-input id="verwezenlijkteMeerwaarde3399" type="text" class="tool-row__input-text"   v-model="input.verwezenlijkteMeerwaarde3399"></currency-input>
                </div>
            </div>
            <validation :errors="errors.verwezenlijkteMeerwaarde3399"></validation>

            <div :class="errors.investeringsReserve3399 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="investeringsReserve3399">Investeringsreserve belastbaar tegen 33,99%</label>
                    <p class="tool-row__code">1469</p>
                    <currency-input id="investeringsReserve3399" type="text" class="tool-row__input-text"   v-model="input.investeringsReserve3399"></currency-input>
                </div>
            </div>
            <validation :errors="errors.investeringsReserve3399"></validation>

            <div :class="errors.verwezenlijkteMeerwaarde2958 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="verwezenlijkteMeerwaarde2958">Verwezenlijkte meerwaarden en voorzieningen tegen 29,58%</label>
                    <p class="tool-row__code">1474</p>
                    <currency-input id="verwezenlijkteMeerwaarde2958" type="text" class="tool-row__input-text"   v-model="input.verwezenlijkteMeerwaarde2958"></currency-input>
                </div>
            </div>
            <validation :errors="errors.verwezenlijkteMeerwaarde2958"></validation>

            <div :class="errors.investeringsReserve2958 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="investeringsReserve2958">Investeringsreserve belastbaar tegen 29,58%</label>
                    <p class="tool-row__code">1475</p>
                    <currency-input id="investeringsReserve2958" type="text" class="tool-row__input-text"   v-model="input.investeringsReserve2958"></currency-input>
                </div>
            </div>
            <validation :errors="errors.investeringsReserve2958"></validation>

            <div :class="errors.belastbareTegenExitTaks125 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastbareTegenExitTaks125">Belastbaar tegen het exit tax tarief van 12,5%</label>
                    <p class="tool-row__code">1472</p>
                    <currency-input id="belastbareTegenExitTaks125" type="text" class="tool-row__input-text"   name="belastbareTegenExitTaks125" v-model="input.belastbareTegenExitTaks125"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastbareTegenExitTaks125"></validation>

            <div :class="errors.belastbaarExitTaks15 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastbaarExitTaks15">Belastbaar tegen het exit tarief van 15%</label>
                    <p class="tool-row__code">1476</p>
                    <currency-input id="belastbaarExitTaks15" type="text" class="tool-row__input-text"   v-model="input.belastbaarExitTaks15"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastbaarExitTaks15"></validation>

            <div :class="errors.kapitaalenInterestsubsidiesLandbouw05 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="kapitaalenInterestsubsidiesLandbouw05">Kapitaal- en interestsubsidies in het kader van de steun
                        aan de landbouw, belastbaar tegen 5%</label>
                    <p class="tool-row__code">1481</p>
                    <currency-input id="kapitaalenInterestsubsidiesLandbouw05" type="text" class="tool-row__input-text"   name="kapitaalenInterestsubsidiesLandbouw05"
                                    v-model="input.kapitaalenInterestsubsidiesLandbouw05"></currency-input>
                </div>
            </div>
            <validation :errors="errors.kapitaalenInterestsubsidiesLandbouw05"></validation>

          <div :class="errors.mobilisatieReserves15 ? 'venb-input-error' : ''">
            <div class="tool-row">
              <label class="tool-row__label" for="mobilisatieReserves15">Mobilisatie van resevers tegen 15%</label>
              <p class="tool-row__code">1482</p>
              <currency-input id="mobilisatieReserves15" type="text" class="tool-row__input-text"   name="mobilisatieReserves15"
                              v-model="input.mobilisatieReserves15"></currency-input>
            </div>
          </div>
          <validation :errors="errors.mobilisatieReserves15"></validation>

          <div :class="errors.mobilisatieReserves10 ? 'venb-input-error' : ''">
            <div class="tool-row">
              <label class="tool-row__label" for="mobilisatieReserves10">Mobilisatie van resevers tegen 10%</label>
              <p class="tool-row__code">1483</p>
              <currency-input id="mobilisatieReserves10" type="text" class="tool-row__input-text"   name="mobilisatieReserves10"
                              v-model="input.mobilisatieReserves10"></currency-input>
            </div>
          </div>
          <validation :errors="errors.mobilisatieReserves10"></validation>


        </fieldset>
        <fieldset id="Correcties" v-if="input.isWijzigingAfsluitdatum26072017">
            <legend class="tool__legend">Correcties</legend>

            <div :class="errors.gedeelteGrondslagBelastbaar25 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="gedeelteGrondslagBelastbaar25">Gedeelte van de gewone grondslag (1460) tegen 25%</label>
                    <p class="tool-row__code">6121</p>
                    <currency-input id="gedeelteGrondslagBelastbaar25" type="text" class="tool-row__input-text"   name="gedeelteGrondslagBelastbaar25"
                                    v-model="input.gedeelteGrondslagBelastbaar25"></currency-input>
                </div>
            </div>
            <validation :errors="errors.gedeelteGrondslagBelastbaar25"></validation>

          <div :class="errors.gedeelteGrondslagExitTarief15ZonderACB ? 'venb-input-error' : ''">
            <div class="tool-row">
              <label class="tool-row__label" for="gedeelteGrondslagExitTarief15ZonderACB">Gedeelte van de grondslag 15% exit tarief (1467) zonder 2% ACB</label>
              <p class="tool-row__code">6122</p>
              <currency-input id="gedeelteGrondslagExitTarief15ZonderACB" type="text" class="tool-row__input-text"   name="gedeelteGrondslagExitTarief15ZonderACB"
                              v-model="input.gedeelteGrondslagExitTarief15ZonderACB"></currency-input>
            </div>
          </div>
          <validation :errors="errors.gedeelteGrondslagExitTarief15ZonderACB"></validation>

        </fieldset>

      <fieldset id="COVID-19-pandemie">
        <legend class="tool__legend">Afzonderlijke aanslag COVID-19-pandemie</legend>

        <div :class="errors.afzonderlijkeAanslagCovid ? 'venb-input-error' : ''">
          <div class="tool-row">
            <label class="tool-row__label" for="afzonderlijkeAanslagCovid">Afzonderlijke aanslag COVID-19-pandemie</label>
            <p class="tool-row__code">1521</p>
            <currency-input id="afzonderlijkeAanslagCovid" type="text" class="tool-row__input-text" name="afzonderlijkeAanslagCovid"
                            v-model="input.afzonderlijkeAanslagCovid"></currency-input>
          </div>
        </div>
        <validation :errors="errors.tariefAfzonderlijkeAanslagCovid"></validation>

        <div :class="errors.tariefAfzonderlijkeAanslagCovid ? 'venb-input-error' : ''">
          <div class="tool-row">
            <label class="tool-row__label" for="tariefAfzonderlijkeAanslagCovid">Tarief van de afzonderlijke aanslag uitgedrukt als decimaal</label>
            <p class="tool-row__code">1522</p>
            <input id="tariefAfzonderlijkeAanslagCovid" type="number" placeholder="1.0" min="0" step="0.0001" max="1.0"
                   class="tool-row__input-text" name="tariefAfzonderlijkeAanslagCovid"
                   v-model="input.tariefAfzonderlijkeAanslagCovid">
          </div>
        </div>
        <validation :errors="errors.tariefAfzonderlijkeAanslagCovid"></validation>
      </fieldset>

        <fieldset id="afzonderlijkeAanslage">
            <legend class="tool__legend">Afzonderlijke aanslagen</legend>
            <div :class="errors.afzonderlijkeAanslagAlleAard50 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagAlleAard50">Geheime commissielonen tegen 50%</label>
                    <p class="tool-row__code">1506</p>
                    <currency-input id="afzonderlijkeAanslagAlleAard50" type="text" class="tool-row__input-text"   name="afzonderlijkeAanslagAlleAard50"
                                    v-model="input.afzonderlijkeAanslagAlleAard50"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagAlleAard50"></validation>

            <div :class="errors.afzonderlijkeAanslagAlleAard100 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagAlleAard100">Geheime commissielonen tegen 100%</label>
                    <p class="tool-row__code">1507</p>
                    <currency-input id="afzonderlijkeAanslagAlleAard100" type="text" class="tool-row__input-text"   name="afzonderlijkeAanslagAlleAard100"
                                    v-model="input.afzonderlijkeAanslagAlleAard100"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagAlleAard100"></validation>

            <div :class="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen34 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagBelasteReservesKredietInstellingen34">Belaste reserves van erkende kredietinstellingen tegen 34%</label>
                    <p class="tool-row__code">1502a</p>
                    <currency-input id="afzonderlijkeAanslagBelasteReservesKredietInstellingen34" type="text" class="tool-row__input-text"   name="afzonderlijkeAanslagBelasteReservesKredietInstellingen34"
                                    v-model="input.afzonderlijkeAanslagBelasteReservesKredietInstellingen34"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen34"></validation>

            <div :class="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen28 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagBelasteReservesKredietInstellingen28">Belaste reserves van erkende kredietinstellingen tegen 28%</label>
                    <p class="tool-row__code">1502b</p>
                    <currency-input id="afzonderlijkeAanslagBelasteReservesKredietInstellingen28" type="text" class="tool-row__input-text"   name="afzonderlijkeAanslagBelasteReservesKredietInstellingen28"
                                    v-model="input.afzonderlijkeAanslagBelasteReservesKredietInstellingen28"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen28"></validation>

            <div :class="errors.afzonderlijkeAanslagUitgekeerdeDividenden ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagUitgekeerdeDividenden">Uitgekeerde dividenden tegen 28%</label>
                    <p class="tool-row__code">1503</p>
                    <currency-input id="afzonderlijkeAanslagUitgekeerdeDividenden" type="text" class="tool-row__input-text"   name="afzonderlijkeAanslagUitgekeerdeDividenden"
                                    v-model="input.afzonderlijkeAanslagUitgekeerdeDividenden"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagUitgekeerdeDividenden"></validation>

            <div :class="errors.afzonderlijkeAanslagLiqRes10 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagBoekhoudingNaWinst">Liquidatiereserve tegen 10%</label>
                    <p class="tool-row__code">1508</p>
                    <currency-input id="afzonderlijkeAanslagBoekhoudingNaWinst" type="text" class="tool-row__input-text"   name="afzonderlijkeAanslagBoekhoudingNaWinst"
                                    v-model="input.afzonderlijkeAanslagLiqRes10"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagLiqRes10"></validation>
        </fieldset>
        <fieldset id="bijzondereAanslagen">
            <legend class="tool__legend">Bijzondere aanslagen</legend>
            <div :class="errors.geheleOfGedeeltelijkMaatschappelijkVermogen33 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="geheleOfGedeeltelijkMaatschappelijkVermogen33">Gehele of gedeeltelijke verdeling van het
                        maatschappelijk vermogen, belastbaar tegen 33%</label>
                    <p class="tool-row__code">1511</p>
                    <currency-input id="geheleOfGedeeltelijkMaatschappelijkVermogen33" type="text" class="tool-row__input-text"   name="geheleOfGedeeltelijkMaatschappelijkVermogen33"
                                    v-model="input.geheleOfGedeeltelijkMaatschappelijkVermogen33"></currency-input>
                </div>
            </div>
            <validation :errors="errors.geheleOfGedeeltelijkMaatschappelijkVermogen33"></validation>

            <div :class="errors.geheleOfGedeeltelijkMaatschappelijkVermogen165 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="geheleOfGedeeltelijkMaatschappelijkVermogen165">Gehele of gedeeltelijke verdeling van het
                        maatschappelijk vermogen, belastbaar tegen 16,5%</label>
                    <p class="tool-row__code">1512</p>
                    <currency-input id="geheleOfGedeeltelijkMaatschappelijkVermogen165" type="text" class="tool-row__input-text"   name="geheleOfGedeeltelijkMaatschappelijkVermogen165"
                                    v-model="input.geheleOfGedeeltelijkMaatschappelijkVermogen165"></currency-input>
                </div>
            </div>
            <validation :errors="errors.geheleOfGedeeltelijkMaatschappelijkVermogen165"></validation>

            <div :class="errors.voordeleAlleAardVerleend ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="voordeleAlleAardVerleend">Voordelen van alle aard verleend door vennootschappen in vereffening
                        tegen 33%</label>
                    <p class="tool-row__code">1513</p>
                    <currency-input id="voordeleAlleAardVerleend" type="text" class="tool-row__input-text"   name="voordeleAlleAardVerleend"
                                    v-model="input.voordeleAlleAardVerleend"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voordeleAlleAardVerleend"></validation>
        </fieldset>
        <fieldset id="bedragLatenteMeerwaarde">
            <legend class="tool__legend">Terugbetaling belastingkrediet voor onderzoek en ontwikkeling</legend>

            <div :class="errors.terugbetalingTegen100 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="terugbetalingTegen100">Terugbetaling van een gedeelte van het
                        voorheen verleende belastingkrediet voor onderzoek en ontwikkeling tegen 100%</label>
                    <p class="tool-row__code">1532</p>
                    <currency-input id="terugbetalingTegen100" type="text" class="tool-row__input-text"   name="terugbetalingTegen100"
                                    v-model="input.terugbetalingTegen100"></currency-input>
                </div>
            </div>
            <validation :errors="errors.terugbetalingTegen100"></validation>

        </fieldset>
        <fieldset id="latenteMeerwaardenFieldset">
            <legend class="tool__legend">Grondslag van de exitheffing </legend>
            <div :class="errors.latenteMeerwaarden ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="latenteMeerwaarden">Bedrag van de latente meerwaarden na proportionele verrekening van de
                        aftrekken van de resterende winst</label>
                    <p class="tool-row__code">1864</p>
                    <currency-input id="latenteMeerwaarden" type="text" class="tool-row__input-text"   name="latenteMeerwaarden" v-model="input.latenteMeerwaarden"></currency-input>
                </div>
            </div>
            <validation :errors="errors.latenteMeerwaarden"></validation>
        </fieldset>
        <fieldset id="VerrekendeVoorheffing">
            <legend class="tool__legend">Verrekenbare voorheffingen</legend>

            <div :class="errors.nietterugbetaalbareVoorheffing ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="nietterugbetaalbareVoorheffing">Niet-terugbetaalbare voorheffingen</label>
                    <p class="tool-row__code">1830</p>
                    <currency-input id="nietterugbetaalbareVoorheffing" type="text" class="tool-row__input-text"   name="nietterugbetaalbareVoorheffing"
                                    v-model="input.nietterugbetaalbareVoorheffing"></currency-input>
                </div>
            </div>
            <validation :errors="errors.nietterugbetaalbareVoorheffing"></validation>

            <div :class="errors.buitenlandseBelastingkrediet ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="buitenlandseBelastingkrediet">Buitenlands belastingkrediet voorzien bij bepaalde overeenkomsten
                        ter vermijding van dubbele belasting</label>
                    <p class="tool-row__code">1834</p>
                    <currency-input id="buitenlandseBelastingkrediet" type="text" class="tool-row__input-text"   name="buitenlandseBelastingkrediet"
                                    v-model="input.buitenlandseBelastingkrediet"></currency-input>
                </div>
            </div>
            <validation :errors="errors.buitenlandseBelastingkrediet"></validation>

            <div :class="errors.terugbetaalbareVoorheffing ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="terugbetaalbareVoorheffing">Terugbetaalbare voorheffingen</label>
                    <p class="tool-row__code">1840</p>
                    <currency-input id="terugbetaalbareVoorheffing" type="text" class="tool-row__input-text"   name="terugbetaalbareVoorheffing"
                                    v-model="input.terugbetaalbareVoorheffing"></currency-input>
                </div>
            </div>
            <validation :errors="errors.terugbetaalbareVoorheffing"></validation>

            <div :class="errors.belastingkredietOndOntw ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastingkredietOndOntw">Belastingkrediet voor onderzoek en ontwikkeling dat voor het
                        huidig belastbare tijdperk terugbetaalbaar is</label>
                    <p class="tool-row__code">1850</p>
                    <currency-input id="belastingkredietOndOntw" type="text" class="tool-row__input-text"   name="belastingkredietOndOntw"
                                    v-model="input.belastingkredietOndOntw"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastingkredietOndOntw"></validation>

        </fieldset>
        <fieldset id="voorafbetalingen">
            <legend class="tool__legend">Voorafbetalingen</legend>

            <div class="isStartendKMO">
                <div class="tool-row">
                    <label class="tool-row__label" for="isStartendKMO">Vrijstelling vermeerdering onvoldoende voorafbetalingen</label>
                    <p class="tool-row__code">1801</p>
                    <input id="isStartendKMO" type="radio" class="tool-row__input-radio" :value=true v-model="input.isStartendKMO">
                </div>
                <div class="tool-row">
                    <label class="tool-row__label" for="geenStartendKMO">Vermeerdering onvoldoende voorafbetalingen</label>
                    <p class="tool-row__code">1801</p>
                    <input id="geenStartendKMO" type="radio" class="tool-row__input-radio" :value=false v-model="input.isStartendKMO">
                </div>
                <div class="tool-row">
                    <label class="tool-row__label" for="isStartendKMO">Verhoogde percentages VA3 en VA4</label>
                    <p class="tool-row__code">1802</p>
                    <input id="isVerhoogdePercentagesVA3VA4" type="checkbox" class="tool-row__input-radio" :value=true v-model="input.isVerhoogdePercentagesVA3VA4">
                </div>
            </div>

            <div class="tool-row">
                <label class="tool-row__label" for="aantalkwartalen">Aantal kwartalen:</label>
                <p class="tool-row__code">1001</p>
                <select id="aantalkwartalen" v-model="input.aantalkwartalen">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected="selected">4</option>
                </select>
            </div>

            <div :class="errors.voorafbetaling1 ? 'venb-input-error' : ''" v-if="input.aantalkwartalen > 3">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling1">Voorafbetaling 1</label>
                    <p class="tool-row__code">1811</p>
                    <currency-input id="voorafbetaling1" type="text" class="tool-row__input-text"   name="voorafbetaling1" v-model="input.voorafbetalingKwart1"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling1"></validation>

            <div :class="errors.voorafbetaling2 ? 'venb-input-error' : ''"  v-if="input.aantalkwartalen > 2">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling2">Voorafbetaling 2</label>
                    <p class="tool-row__code">1812</p>
                    <currency-input id="voorafbetaling2" type="text" class="tool-row__input-text"   name="voorafbetaling2" v-model="input.voorafbetalingKwart2"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling2"></validation>

            <div :class="errors.voorafbetaling3 ? 'venb-input-error' : ''"  v-if="input.aantalkwartalen > 1">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling3">Voorafbetaling 3</label>
                    <p class="tool-row__code">1813</p>
                    <currency-input id="voorafbetaling3" type="text" class="tool-row__input-text"   name="voorafbetaling3" v-model="input.voorafbetalingKwart3"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling3"></validation>

            <div :class="errors.voorafbetaling4 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling4">Voorafbetaling 4</label>
                    <p class="tool-row__code">1814</p>
                    <currency-input id="voorafbetaling4" type="text" class="tool-row__input-text"   name="voorafbetaling4" v-model="input.voorafbetalingKwart4"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling4"></validation>
        </fieldset>

        <button @click="calculate">Bereken</button>

        <div class="calculation-warning__recalculate"  v-if="!change && result" v-html="'Opgepast, input is gewijzigd! Opnieuw berekenen aub'"></div>

        <div class="results" v-if="result">

            <h2 class="results__heading-2" v-if="result">Berekeningsnota vennootschapsbelasting - aanslagjaar 2021 oud</h2>

          <div class="gewoneAanslagen-header">
            <h3 class="results__heading-3">Gewone Aanslagen met vermeerdering </h3>
          </div>

          <table class="belastbaar-stelsel-met-vermeerdering result">
            <tbody>
            <template v-for="item in gewoneAanslagenMetVermeerdering">
              <template  v-for="(value,index) in item">
                <tr class="result-row" v-if="value.belasting !== '0,00'">
                  <td class="result-row__description" v-html="index"></td>
                  <td class="result-row__code" v-html="value.code"></td>
                  <td class="result-row__amount" v-html="value.bedrag"></td>
                  <td class="result-row__operation" v-html="value.operation"></td>
                  <td class="result-row__percentage" v-html="value.tarief"></td>
                  <td class="result-row__equal" v-html="value.is"></td>
                  <td class="result-row__result" v-html="value.belasting"></td>
                </tr>
              </template>
            </template>
            </tbody>
          </table>

          <table class="table-total">
            <tr class="result-row">
              <td class="result-row__description" ></td>
              <td class="result-row__code"></td>
              <td class="result-row__amount" ></td>
              <td class="result-row__operation" ></td>
              <td class="result-row__percentage" ></td>
              <td class="result-row__equal" ></td>
              <td class="result-row__total" v-html="totaalGewoneAanslagenMetVermeerdering"></td>
            </tr>
          </table>

          <div class="gewoneAanslagen-header">
            <h3 class="results__heading-3">Gewone Aanslagen zonder vermeerdering </h3>
          </div>

          <table class="belastbaar-stelsel-zonder-vermeerdering result">
            <tbody>
            <template v-for="item in gewoneAanslagenZonderVermeerdering">
              <template  v-for="(value,index) in item">
                <tr class="result-row" v-if="value.belasting !== '0,00'">
                  <td class="result-row__description" v-html="index"></td>
                  <td class="result-row__code" v-html="value.code"></td>
                  <td class="result-row__amount" v-html="value.bedrag"></td>
                  <td class="result-row__operation" v-html="value.operation"></td>
                  <td class="result-row__percentage" v-html="value.tarief"></td>
                  <td class="result-row__equal" v-html="value.is"></td>
                  <td class="result-row__result" v-html="value.belasting"></td>
                </tr>
              </template>
            </template>
            </tbody>
          </table>

          <table class="table-total">
            <tr class="result-row">
              <td class="result-row__description" ></td>
              <td class="result-row__code"></td>
              <td class="result-row__amount" ></td>
              <td class="result-row__operation" ></td>
              <td class="result-row__percentage" ></td>
              <td class="result-row__equal" ></td>
              <td class="result-row__total" v-html="totaalGewoneAanslagen"></td>
            </tr>
          </table>

          <template>
            <div v-if="result" class="verrekenbare-voorheffingen">
                <h3 class="results__heading-3">
                    Verrekenbare voorheffingen
                </h3>
            </div>
            <table class="verrekenbare-voorheffingen">
                <tr class="result-row"  v-for="(value,key) in belastbaarGewoonStelsel" v-if="key !== 'Totaal' && key !== 'totaalVoorVermeerdering' && key !== 'vermeerdering'">
                    <td class="result-row__description" v-html="key"></td>
                    <td class="result-row__code" v-html="value.code"></td>
                    <td class="result-row__amount" ></td>
                    <td class="result-row__operation" ></td>
                    <td class="result-row__percentage" ></td>
                    <td class="result-row__equal" ></td>
                    <td class="result-row__result" v-html="value.bedrag"></td>
                </tr>
            </table>

            <table class="verrekenbare-voorheffing-totaal">
                <tbody>
                <template v-for="(value,key) in belastbaarGewoonStelsel" >
                    <tr class="result-row" v-if="key === 'totaalVoorVermeerdering'" >
                        <td class="result-row__description" ></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount" ></td>
                        <td class="result-row__operation" ></td>
                        <td class="result-row__percentage" ></td>
                        <td class="result-row__equal" ></td>
                        <td v-html="value" class="result-row__total" ></td>
                    </tr>
                    <tr class="result-row" v-if="key === 'vermeerdering'">
                        <td v-html="'Vermeerdering onvoldoende voorafbetalingen'" class="result-row__description" ></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount" ></td>
                        <td class="result-row__operation" ></td>
                        <td class="result-row__percentage" ></td>
                        <td class="result-row__equal" ></td>
                        <td v-html="value" class="result-row__result" v-if="key === 'vermeerdering'"></td>
                    </tr>
                    <tr class="result-row" v-if="key === 'Totaal'">
                        <td class="result-row__description" ></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount" ></td>
                        <td class="result-row__operation" ></td>
                        <td class="result-row__percentage" ></td>
                        <td class="result-row__equal" ></td>
                        <td v-html="value" class="result-row__total" ></td>
                    </tr>
                </template>
                </tbody>
            </table>
          </template>

            <div class="AfzonderlijkBelastbaar Header">
                <h3 class="results__heading-3">
                    Afzonderlijk belastbaar
                </h3>
            </div>
            <table>
                <tbody>
                <template v-for="item in afzonderlijkBelastbaar">
                    <tr class="result-row" v-for="(value,index) in item" v-if="value.belasting !== '0,00'">
                        <td class="result-row__description" v-html="index"></td>
                        <td class="result-row__code" v-html="value.code"></td>
                        <td class="result-row__amount" v-html="value.bedrag"></td>
                        <td class="result-row__operation" v-html="value.operation"></td>
                        <td class="result-row__percentage" v-html="value.tarief"></td>
                        <td class="result-row__equal" v-html="value.is"></td>
                        <td class="result-row__result" v-html="value.belasting"></td>
                    </tr>
                </template>
                </tbody>
            </table>
            <table>
                <tr class="result-row">
                    <td class="result-row__description" ></td>
                    <td class="result-row__code" ></td>
                    <td class="result-row__amount" ></td>
                    <td class="result-row__operation" ></td>
                    <td class="result-row__percentage" ></td>
                    <td class="result-row__equal" ></td>
                    <td class="result-row__total" v-html="totaalDoorUTeBetalen"></td>
                </tr>
            </table>
            <div id="totaalDoorUTeBetalen" v-if="totaalDoorUTeBetalen && result">
                <table class="table-total highlight" >
                    <tr class="result-row">
                        <td class="description" >
                            <h3 class="results__heading-3 totaal-description" v-if="parseFloat(totaalDoorUTeBetalen) >= 0.00">Totaal door u te betalen</h3>
                            <h3 class="results__heading-3 totaal-description" v-else>Totaal door u terug te krijgen</h3>
                        </td>
                        <td class="result-row__total no-border" v-html="eindTotaal" v-if="result"></td>
                    </tr>
                </table>

            </div>
            <div v-if="result && !isVrijstelling">
            <div class="berekeningVanDeVermeerdering-header" v-if="result">
                <h3 class="results__heading-3">Berekening van de vermeerdering </h3>
            </div>
            <table v-if="result">
                <tr class="result-row">
                    <td class="result-row__description" v-html="'Belasting onderworpen aan vermeerdering'"></td>
                    <td class="result-row__code"></td>
                    <td class="result-row__amount" v-html="totaalGewoneAanslagenMetVermeerdering"></td>
                    <td class="result-row__operation"></td>
                    <td class="result-row__percentage"></td>
                    <td class="result-row__equal" ></td>
                    <td class="result-row__result" ></td>
                </tr>
            </table>
            <table>
                <tbody>
                <template v-for="(value,key) in berekeningVanDeVermeerdering">
                    <tr class="result-row" v-if="key !== 'Voorafbetalingen' && key !=='grondslagCalculation' && key !== 'Saldo vermeerdering'">
                        <td class="result-row__description"  v-html="key"></td>
                        <td class="result-row__code" v-html="value.code"></td>
                        <td class="result-row__amount" v-html="value.bedrag"></td>
                        <td class="result-row__operation"></td>
                        <td class="result-row__percentage"></td>
                        <td class="result-row__equal" ></td>
                        <td class="result-row__result" ></td>
                    </tr>
                    <tr class="result-row grondslagCalculation" v-if="key === 'grondslagCalculation' && item instanceof Object" v-for="item in value">
                        <td class="result-row__description" v-html="'Grondslag voor de vermeerdering'"></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount result-row__total--not-end-dark" v-html="item.grondslag"></td>
                        <td class="result-row__operation" v-html="item.operation"></td>
                        <td class="result-row__percentage" v-html="item.percentage"></td>
                        <td class="result-row__equal" v-html="item.is"></td>
                        <td class="result-row__result" v-html="item.vermeerdering"></td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div id="berekeningVanDeVermeerdering response" v-for="(value,key) in berekeningVanDeVermeerdering">
                <table>
                    <tbody>
                    <template v-for="row in value" v-if="key === 'Voorafbetalingen'">
                        <tr class="result-row" v-for="item in row">
                            <td class="result-row__description" v-html="item.number"></td>
                            <td class="result-row__code"></td>
                            <td class="result-row__amount" v-html="item.amount"></td>
                            <td class="result-row__operation" v-html="item.operation"></td>
                            <td class="result-row__percentage" v-html="item.percentage"></td>
                            <td class="result-row__equal" v-html="item.is"></td>
                            <td class="result-row__result" v-html="item.result"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <table>
                    <tr class="result-row" v-if="key === 'Saldo vermeerdering'">
                        <td class="result-row__description" v-html="key"></td>
                        <td class="result-row__description" ></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount"></td>
                        <td class="result-row__operation"></td>
                        <td class="result-row__percentage"></td>
                        <td class="result-row__equal"></td>
                        <td class="result-row__total" v-html="value.bedrag"></td>
                    </tr>
                </table>
            </div>
            <div class="geen-vermeerdering-indien" v-if="result">
                <div class="description" v-html="'Geen vermeerdering indien saldo lager is dan'"></div>
            </div>

            <table class="geen-vermeerdering" v-if="result">
                <tr class="result-row">
                    <td class="result-row__description" v-html="'- absolute grens van'"></td>
                    <td class="result-row__result" v-html="geenVemeerdering.beperking_tot"></td>
                </tr>
                <tr class="result-row">
                    <td class="result-row__description" v-html="' - relatieve grens van'"></td>
                    <td class="result-row__result" v-html="geenVemeerdering.beperking_grondslag"></td>
                </tr>
            </table>

            <table class="verrekenbare-voorheffing-totaal" v-for="(value,key) in belastbaarGewoonStelsel" v-if="key === 'vermeerdering'" >
                <tr class="result-row">
                    <td class="result-row__description" v-html="'Weerhouden vermeerdering'"></td>
                    <td v-html="value" class="result-row__total no-border"></td>
                </tr>
            </table>

            <hr class="results__hr">

<!--            <h3 class="results__heading-3 toegepaste-correcties-header"  v-html="'Overzicht van de toegepaste correcties'" v-if="correcties"></h3>
            <table class="toegepaste-correcties-result">

                <tr class="result-row" v-for="item in toegepasteCorrecties" :class="item.class" v-if="correcties">
                    <td class="result-row__description" v-html="item.name"></td>
                    <td class="result-row__code" v-html="item.code" ></td>
                    <td class="result-row__amount" v-html="item.amount"></td>
                    <td class="result-row__operation"></td>
                    <td class="result-row__percentage"></td>
                    <td class="result-row__equal"></td>
                    <td class="result-row__result"></td>
                </tr>
            </table>-->
        </div>
        </div>
    </div>
</template>

<script>
    import qs from 'query-string';
    import Validation from '../../../../common/resources/js/components/ValidationComponent.vue';
    import Venb2021OldDatabag from "../databags/Venb2021OldDatabag";

    export default {
        name: "v2021ajOud",
        data() {
            return {
                correcties :false,
                input: new Venb2021OldDatabag(),
                prev : new Venb2021OldDatabag(),
                response: {},
                result: false,
                gewoneAanslagenMetVermeerdering : null,
                gewoneAanslagenZonderVermeerdering : null,
                isVrijstelling : false,
                belastbaarGewoonStelsel : null,
                totaalDoorUTeBetalen : null,
                berekeningVanDeVermeerdering : null,
                afzonderlijkBelastbaar: null,
                error: false,
                totaalGewoneAanslagen : 0,
                totaalGewoneAanslagenMetVermeerdering : 0,
                errors: {},
                isVrijstelletingVermeerdering : true,
                geenVemeerdering :
                    {
                        beperking_tot : 0,
                        beperking_grondslag : 0,
                        weerhoudenVermeerdering : 0
                    },
                eindTotaal : 0,
                toegepasteCorrecties : null
            }
        },
        props: {
            baseUrl: {
                default: () => '',
                type: String
            },
            token: {
                type: String
            }
        },
        methods: {
            erase(){
                this.gewoneAanslagenMetVermeerdering = null;
                this.gewoneAanslagenZonderVermeerdering = null;
                this.totaalDoorUTeBetalen = null;
                this.berekeningVanDeVermeerdering= null;
                this.afzonderlijkBelastbaar = null;
                this.totaalGewoneAanslagen = null;
                this.totaalGewoneAanslagenMetVermeerdering = null;
                this.eindTotaal = null;
                this.toegepasteCorrecties =  null;
                this.input = new Venb2021OldDatabag();
                this.result = false;
            },
            setHuisVestingFalse(){
                document.getElementById("isVenootshapHuisvesting").checked ? this.input.isVenootshapHuisvesting =  true : this.input.isVenootshapHuisvesting =  false
            },
            setWijzigingAfsluitDatum()
            {
                document.getElementById("isWijzigingAfsluitdatum26072017").checked ? this.correcties = true : this.correcties = false
            },
            checkNotEveryValueZero(array){
                for (let object in array) {
                    if (array[object]["Crisisbijdrage"]["bedrag"] !== '0,00'){
                        return true
                    }
                }
                return false
            },
            isArray(object){
                return Array.isArray(object)
            },
            calculate() {
                this.result = false;
                this.gewoneAanslagenMetVermeerdering = null;
                this.gewoneAanslagenZonderVermeerdering = null;
                this.belastbaarGewoonStelsel = null;
                this.totaalDoorUTeBetalen = null;
                this.berekeningVanDeVermeerdering= null;
                this.afzonderlijkBelastbaar = null;
                this.totaalGewoneAanslagen = null;
                this.totaalGewoneAanslagenMetVermeerdering = null;
                this.eindTotaal = null;
                this.toegepasteCorrecties =  null;
                this.errors = {};
                this.setWijzigingAfsluitDatum();
                this.setHuisVestingFalse();
                let axios = {};
                if (this.token) {
                    axios = this.$http.create({
                        headers: {
                            Authorization: this.token
                        }
                    });
                } else {
                    axios = this.$http;
                }
                axios.post(
                    this.baseUrl + '/calculator/venb',
                    qs.stringify(this.input),
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }
                )
                    .then((response) => {
                        this.result = true;
                        this.gewoneAanslagenMetVermeerdering = response.data.data.gewoneAanslagenMetVermeerdering;
                        this.gewoneAanslagenZonderVermeerdering = response.data.data.gewoneAanslagenZonderVermeerdering;
                        this.belastbaarGewoonStelsel = response.data.data.belastbaarGewoonStelsel;
                        this.totaalDoorUTeBetalen = response.data.data.totaalDoorUTeBetalen;
                        this.berekeningVanDeVermeerdering = response.data.data.berekeningVanDeVermeerdering;
                        this.afzonderlijkBelastbaar = response.data.data.afzonderlijkBelastbaar;
                        this.totaalGewoneAanslagen = response.data.data.totaalGewoneAanslagen;
                        this.totaalGewoneAanslagenMetVermeerdering = response.data.data.totaalGewoneAanslagenMetVermeerdering;
                        this.geenVemeerdering = response.data.data.geenVemeerdering;
                        this.prev = Venb2021OldDatabag.copy(this.input);
                        this.isVrijstelling = this.input.isStartendKMO;
                        this.eindTotaal = response.data.data.eindTotaal;
                        this.toegepasteCorrecties =  response.data.data.toegepasteCorrecties;
                    })
                    .catch(({response}) => {
                        if (response.status === 422) {
                            this.errors = response.data.data;
                            document.querySelectorAll('input').forEach((element) => {
                                if (this.errors[element.id] !== undefined) {
                                    this.$nextTick(() => element.scrollIntoView({block: 'start', behavior: 'smooth'}));
                                }
                            });
                        }
                    })
            }
        },
        components: {
            Validation,
        },
        computed: {
            change: function () {
                return this.input.equals(this.prev);
            }
        }
    }
</script>

<style scoped>

</style>
