<!--suppress XmlInvalidId -->

<!-- Input en resultaten pagina berekening AJ 2019 Oud
     Aandachtpunten:  input moet overeenstemmen met Venb2019OldDatabag.js -->

<template>
    <div class="venb venb-2019-old">
        <h2 class="tool__heading-2">Aanslagjaar 2019 Oud</h2>
        <button class="btn btn--outline btn--erase" @click="erase">Wis</button>

        <fieldset id="algemeen">
            <legend class="tool__legend">Algemeen</legend>
            <div class="wrapper-algemeen">
                <div>
                    <form >
                        <div class="tool-row">
                            <label class="tool-row__label" for="isNietAanspraakVerminderdTarief" >Gewoon tarief</label>
                            <p class="tool-row__code">1751</p>
                            <input id="isNietAanspraakVerminderdTarief" type="radio" class="tool-row__input-radio" name="tarief" value="false" v-model="input.isAanspraakVerminderdTarief">
                        </div>
                        <div class="tool-row">
                            <label class="tool-row__label" for="isAanspraakVerminderdTarief" >Verminderd tarief</label>
                            <p class="tool-row__code">1751</p>
                            <input id="isAanspraakVerminderdTarief" type="radio" class="tool-row__input-radio" name="tarief" value="true" v-model="input.isAanspraakVerminderdTarief">
                        </div>
                        <div class="tool-row">
                            <label class="tool-row__label" for="isVenootshapHuisvesting">Vennootschap voor huisvesting met 5%-tarief</label>
                            <p class="tool-row__code">1753</p>
                            <input id="isVenootshapHuisvesting" type="radio" class="tool-row__input-radio" name="tarief" value="true" v-model="input.isVenootshapHuisvesting">
                        </div>
                    </form>
                </div>

                <div>
                    <div class="tool-row">
                        <label class="tool-row__label" for="isWijzigingAfsluitdatum26072017">Wijziging van de afsluitdatum van het boekjaar vanaf
                            26.07.2017</label>
                        <p class="tool-row__code">1878</p>
                        <input id="isWijzigingAfsluitdatum26072017" type="checkbox" class="tool-row__input-checkbox"  v-model="input.isWijzigingAfsluitdatum26072017">
                    </div>
                </div>
            </div>

        </fieldset>
        <fieldset id="gewoneAanslagen">
            <legend class="tool__legend">Gewone aanlagen</legend>

            <div :class="errors.belastbaarGewoonTarief ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastbaarGewoonTarief">Belastbaar tegen gewoon tarief</label>
                    <p class="tool-row__code">O 1460</p>
                    <currency-input id="belastbaarGewoonTarief" type="text" class="tool-row__input-text" name="belastbaarGewoonTarief" v-model="input.belastbaarGewoonTarief"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastbaarGewoonTarief"></validation>

            <div :class="errors.meerwaardeOpAandelen25 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="meerwaardeOpAandelen25">Meerwaarden op aandelen in principe belastbaar tegen 25%</label>
                    <p class="tool-row__code">O 1465</p>
                    <currency-input id="meerwaardeOpAandelen25" type="text" class="tool-row__input-text" name="meerwaardeOpAandelen25" v-model="input.meerwaardeOpAandelen25"></currency-input>
                </div>
            </div>
            <validation :errors="errors.meerwaardeOpAandelen25"></validation>

            <div :class="errors.belastbareTegenExitTaks165 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastbareTegenExitTaks165">Belastbaar tegen het exit tax tarief van 16,5%</label>
                    <p class="tool-row__code">O 1471</p>
                    <currency-input id="belastbareTegenExitTaks165" type="text" class="tool-row__input-text" name="belastbareTegenExitTaks165" v-model="input.belastbareTegenExitTaks165"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastbareTegenExitTaks165"></validation>

            <div :class="errors.belastbareTegenExitTaks125 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastbareTegenExitTaks125">Belastbaar tegen het exit tax tarief van 12,5%</label>
                    <p class="tool-row__code">O 1472</p>
                    <currency-input id="belastbareTegenExitTaks125" type="text" class="tool-row__input-text" name="belastbareTegenExitTaks125" v-model="input.belastbareTegenExitTaks125"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastbareTegenExitTaks125"></validation>

            <div :class="errors.meerwaardeOpAAndelenBelastbaartegen04 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="meerwaardeOpAAndelenBelastbaartegen04">Meerwaarden op aandelen belastbaar tegen 0,40%</label>
                    <p class="tool-row__code">O 1424</p>
                    <currency-input id="meerwaardeOpAAndelenBelastbaartegen04" type="text" class="tool-row__input-text" name="meerwaardeOpAAndelenBelastbaartegen04"
                                    v-model="input.meerwaardeOpAAndelenBelastbaartegen04"></currency-input>
                </div>
            </div>
            <validation :errors="errors.meerwaardeOpAAndelenBelastbaartegen04"></validation>

            <div :class="errors.kapitaalenInterestsubsidiesLandbouw05 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="kapitaalenInterestsubsidiesLandbouw05">Kapitaal- en interestsubsidies in het kader van de steun
                        aan de landbouw, belastbaar tegen 5%</label>
                    <p class="tool-row__code">O 1481</p>
                    <currency-input id="kapitaalenInterestsubsidiesLandbouw05" type="text" class="tool-row__input-text" name="kapitaalenInterestsubsidiesLandbouw05"
                                    v-model="input.kapitaalenInterestsubsidiesLandbouw05"></currency-input>
                </div>
            </div>
            <validation :errors="errors.kapitaalenInterestsubsidiesLandbouw05"></validation>
        </fieldset>
        <fieldset id="Correcties" v-if="input.isWijzigingAfsluitdatum26072017">
            <legend class="tool__legend">Correcties</legend>

            <div :class="errors.negatieveCorrectieGrondslagGewoonTarief ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="negatieveCorrectieGrondslagGewoonTarief">Negatieve correctie van de grondslag tegen gewoon tarief (O&nbsp;1460)</label>
                    <p class="tool-row__code">6201</p>
                    <currency-input id="negatieveCorrectieGrondslagGewoonTarief" type="text" class="tool-row__input-text" name="negatieveCorrectieGrondslagGewoonTarief"
                                    v-model="input.negatieveCorrectieGrondslagGewoonTarief"></currency-input>
                </div>
            </div>
            <validation :errors="errors.negatieveCorrectieGrondslagGewoonTarief"></validation>

            <div :class="errors.positieveCorrectieGrondslagGewoonTarief ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="positieveCorrectieGrondslagGewoonTarief">Positieve correctie van de grondslag tegen gewoon tarief (O&nbsp;1460)</label>
                    <p class="tool-row__code">6202</p>
                    <currency-input id="positieveCorrectieGrondslagGewoonTarief" type="text" class="tool-row__input-text" name="positieveCorrectieGrondslagGewoonTarief"
                                    v-model="input.positieveCorrectieGrondslagGewoonTarief"></currency-input>
                </div>
            </div>
            <validation :errors="errors.positieveCorrectieGrondslagGewoonTarief"></validation>

            <div :class="errors.negatieveCorrectieMeerwaardeAandelen25 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="negatieveCorrectieMeerwaardeAandelen25">Negatieve correctie van meerwaarden op aandelen tegen 25% (O&nbsp;1465)</label>
                    <p class="tool-row__code">6203</p>
                    <currency-input id="negatieveCorrectieMeerwaardeAandelen25" type="text" class="tool-row__input-text" name="negatieveCorrectieMeerwaardeAandelen25"
                                    v-model="input.negatieveCorrectieMeerwaardeAandelen25"></currency-input>
                </div>
            </div>
            <validation :errors="errors.negatieveCorrectieMeerwaardeAandelen25"></validation>

            <div :class="errors.negatieveCorrectieMeerwaardeAandelen04 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="negatieveCorrectieMeerwaardeAandelen04">Negatieve correctie van meerwaarden op aandelen tegen 0,04% (O&nbsp;1424)</label>
                    <p class="tool-row__code">6204</p>
                    <currency-input id="negatieveCorrectieMeerwaardeAandelen04" type="text" class="tool-row__input-text" name="negatieveCorrectieMeerwaardeAandelen04"
                                    v-model="input.negatieveCorrectieMeerwaardeAandelen04"></currency-input>
                </div>
            </div>
            <validation :errors="errors.negatieveCorrectieMeerwaardeAandelen04"></validation>

            <div :class="errors.gedeelteMeerwaardeBelastbaar25 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="gedeelteMeerwaardeBelastbaar25">Gedeelte van de meerwaarden op aandelen in principe tegen 25% (O&nbsp;1465), waarvoor de belasting wordt verhoogd met een ACB van 2% (N&nbsp;1466)</label>
                    <p class="tool-row__code">6213</p>
                    <currency-input id="gedeelteMeerwaardeBelastbaar25" type="text" class="tool-row__input-text" name="gedeelteMeerwaardeBelastbaar25"
                                    v-model="input.gedeelteMeerwaardeBelastbaar25"></currency-input>
                </div>
            </div>
            <validation :errors="errors.gedeelteMeerwaardeBelastbaar25"></validation>

            <div :class="errors.gedeelteGrondslagExitTaks125 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="gedeelteGrondslagExitTaks125">Gedeelte van de grondslag tegen het exit tax tarief van 12,5% (O&nbsp;1472), waarvoor de belasting wordt verhoogd met een ACB van 2% (N&nbsp;1472)</label>
                    <p class="tool-row__code">6214</p>
                    <currency-input id="gedeelteGrondslagExitTaks125" type="text" class="tool-row__input-text" name="gedeelteGrondslagExitTaks125"
                                    v-model="input.gedeelteGrondslagExitTaks125"></currency-input>
                </div>
            </div>
            <validation :errors="errors.gedeelteGrondslagExitTaks125"></validation>

            <div :class="errors.gedeelteGecorrigeerdeAanslag29 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="gedeelteGecorrigeerdeAanslag29">Gedeelte van de gecorrigeerde belastbare grondslag in
                        principe onderworpen is aan het tarief van 29% (N&nbsp;1460)</label>
                    <p class="tool-row__code">6211</p>
                    <currency-input id="gedeelteGecorrigeerdeAanslag29" type="text" class="tool-row__input-text" name="gedeelteGecorrigeerdeAanslag29"
                                    v-model="input.gedeelteGecorrigeerdeAanslag29"></currency-input>
                </div>
            </div>
            <validation :errors="errors.gedeelteGecorrigeerdeAanslag33"></validation>

            <div :class="errors.isCorrectieVerlaagdTarief ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="correctieVerlaagdTarief">De vennootschap kan bij u weten voor dit gedeelte aanspraak maken op
                        het verminderd tarief</label>
                    <p class="tool-row__code">6212</p>
                    <input id="correctieVerlaagdTarief"  name="correctieVerlaagdTarief" type="checkbox" class="tool-row__input-checkbox"  v-model="input.isCorrectieVerlaagdTarief">
                </div>
            </div>
            <validation :errors="errors.isCorrectieVerlaagdTarief"></validation>

        </fieldset>
        <fieldset id="afzonderlijkeAanslage">
            <legend class="tool__legend">Afzonderlijke aanslagen</legend>
            <div :class="errors.afzonderlijkeAanslagAlleAard50 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagAlleAard50">Geheime commissielonen tegen 50%</label>
                    <p class="tool-row__code">1506</p>
                    <currency-input id="afzonderlijkeAanslagAlleAard50" type="text" class="tool-row__input-text" name="afzonderlijkeAanslagAlleAard50"
                                    v-model="input.afzonderlijkeAanslagAlleAard50"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagAlleAard50"></validation>

            <div :class="errors.afzonderlijkeAanslagAlleAard100 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagAlleAard100">Geheime commissielonen tegen 100%</label>
                    <p class="tool-row__code">1507</p>
                    <currency-input id="afzonderlijkeAanslagAlleAard100" type="text" class="tool-row__input-text" name="afzonderlijkeAanslagAlleAard100"
                                    v-model="input.afzonderlijkeAanslagAlleAard100"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagAlleAard100"></validation>

            <div :class="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen34 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagBelasteReservesKredietInstellingen34">Belaste reserves van erkende kredietinstellingen tegen 34%</label>
                    <p class="tool-row__code">1502a</p>
                    <currency-input id="afzonderlijkeAanslagBelasteReservesKredietInstellingen34" type="text" class="tool-row__input-text" name="afzonderlijkeAanslagBelasteReservesKredietInstellingen34"
                                    v-model="input.afzonderlijkeAanslagBelasteReservesKredietInstellingen34"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen34"></validation>

            <div :class="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen28 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagBelasteReservesKredietInstellingen28">Belaste reserves van erkende kredietinstellingen tegen 28%</label>
                    <p class="tool-row__code">1502b</p>
                    <currency-input id="afzonderlijkeAanslagBelasteReservesKredietInstellingen28" type="text" class="tool-row__input-text" name="afzonderlijkeAanslagBelasteReservesKredietInstellingen28"
                                    v-model="input.afzonderlijkeAanslagBelasteReservesKredietInstellingen28"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBelasteReservesKredietInstellingen28"></validation>

            <div :class="errors.afzonderlijkeAanslagUitgekeerdeDividenden ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagUitgekeerdeDividenden">Uitgekeerde dividenden tegen 28%</label>
                    <p class="tool-row__code">1503</p>
                    <currency-input id="afzonderlijkeAanslagUitgekeerdeDividenden" type="text" class="tool-row__input-text" name="afzonderlijkeAanslagUitgekeerdeDividenden"
                                    v-model="input.afzonderlijkeAanslagUitgekeerdeDividenden"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagUitgekeerdeDividenden"></validation>

            <div :class="errors.afzonderlijkeAanslagBoekhoudingNaWinst ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="afzonderlijkeAanslagBoekhoudingNaWinst">Liquidatiereserve tegen 10%</label>
                    <p class="tool-row__code">1508</p>
                    <currency-input id="afzonderlijkeAanslagBoekhoudingNaWinst" type="text" class="tool-row__input-text" name="afzonderlijkeAanslagBoekhoudingNaWinst"
                                    v-model="input.afzonderlijkeAanslagLiqRes10"></currency-input>
                </div>
            </div>
            <validation :errors="errors.afzonderlijkeAanslagBoekhoudingNaWinst"></validation>
        </fieldset>
        <fieldset id="bijzondereAanslagen">
            <legend class="tool__legend">Bijzondere aanslagen</legend>
            <div :class="errors.geheleOfGedeeltelijkMaatschappelijkVermogen33 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="geheleOfGedeeltelijkMaatschappelijkVermogen33">Gehele of gedeeltelijke verdeling van het
                        maatschappelijk vermogen, belastbaar tegen 33%</label>
                    <p class="tool-row__code">1511</p>
                    <currency-input id="geheleOfGedeeltelijkMaatschappelijkVermogen33" type="text" class="tool-row__input-text" name="geheleOfGedeeltelijkMaatschappelijkVermogen33"
                                    v-model="input.geheleOfGedeeltelijkMaatschappelijkVermogen33"></currency-input>
                </div>
            </div>
            <validation :errors="errors.geheleOfGedeeltelijkMaatschappelijkVermogen33"></validation>

            <div :class="errors.geheleOfGedeeltelijkMaatschappelijkVermogen165 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="geheleOfGedeeltelijkMaatschappelijkVermogen165">Gehele of gedeeltelijke verdeling van het
                        maatschappelijk vermogen, belastbaar tegen 16,5%</label>
                    <p class="tool-row__code">1512</p>
                    <currency-input id="geheleOfGedeeltelijkMaatschappelijkVermogen165" type="text" class="tool-row__input-text" name="geheleOfGedeeltelijkMaatschappelijkVermogen165"
                                    v-model="input.geheleOfGedeeltelijkMaatschappelijkVermogen165"></currency-input>
                </div>
            </div>
            <validation :errors="errors.geheleOfGedeeltelijkMaatschappelijkVermogen165"></validation>

            <div :class="errors.voordeleAlleAardVerleend ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="voordeleAlleAardVerleend">Voordelen van alle aard verleend door vennootschappen in vereffening
                        tegen 33%</label>
                    <p class="tool-row__code">1513</p>
                    <currency-input id="voordeleAlleAardVerleend" type="text" class="tool-row__input-text" name="voordeleAlleAardVerleend"
                                    v-model="input.voordeleAlleAardVerleend"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voordeleAlleAardVerleend"></validation>
        </fieldset>
        <fieldset id="bedragLatenteMeerwaarde">
            <legend class="tool__legend">Terugbetaling belastingkrediet voor onderzoek en ontwikkeling</legend>

            <div :class="errors.terugbetalingTegen100 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="terugbetalingTegen100">Terugbetaling van een gedeelte van het
                        voorheen verleende belastingkrediet voor onderzoek en ontwikkeling tegen 100%</label>
                    <p class="tool-row__code">1532</p>
                    <currency-input id="terugbetalingTegen100" type="text" class="tool-row__input-text" name="terugbetalingTegen100"
                                    v-model="input.terugbetalingTegen100"></currency-input>
                </div>
            </div>
            <validation :errors="errors.terugbetalingTegen100"></validation>

        </fieldset>
        <fieldset id="latenteMeerwaardenFieldset">
            <legend class="tool__legend">Grondslag van de exitheffing </legend>
            <div :class="errors.latenteMeerwaarden ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="latenteMeerwaarden">Bedrag van de latente meerwaarden na proportionele verrekening van de
                        aftrekken van de resterende winst</label>
                    <p class="tool-row__code">1864</p>
                    <currency-input id="latenteMeerwaarden" type="text" class="tool-row__input-text" name="latenteMeerwaarden" v-model="input.latenteMeerwaarden"></currency-input>
                </div>
            </div>
            <validation :errors="errors.latenteMeerwaarden"></validation>
        </fieldset>
        <fieldset id="VerrekendeVoorheffing">
            <legend class="tool__legend">Verrekenbare voorheffingen</legend>

            <div :class="errors.nietterugbetaalbareVoorheffing ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="nietterugbetaalbareVoorheffing">Niet-terugbetaalbare voorheffingen</label>
                    <p class="tool-row__code">1830</p>
                    <currency-input id="nietterugbetaalbareVoorheffing" type="text" class="tool-row__input-text" name="nietterugbetaalbareVoorheffing"
                                    v-model="input.nietterugbetaalbareVoorheffing"></currency-input>
                </div>
            </div>
            <validation :errors="errors.nietterugbetaalbareVoorheffing"></validation>

            <div :class="errors.buitenlandseBelastingkrediet ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="buitenlandseBelastingkrediet">Buitenlands belastingkrediet voorzien bij bepaalde overeenkomsten
                        ter vermijding van dubbele belasting</label>
                    <p class="tool-row__code">1834</p>
                    <currency-input id="buitenlandseBelastingkrediet" type="text" class="tool-row__input-text" name="buitenlandseBelastingkrediet"
                                    v-model="input.buitenlandseBelastingkrediet"></currency-input>
                </div>
            </div>
            <validation :errors="errors.buitenlandseBelastingkrediet"></validation>

            <div :class="errors.terugbetaalbareVoorheffing ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="terugbetaalbareVoorheffing">Terugbetaalbare voorheffingen</label>
                    <p class="tool-row__code">1840</p>
                    <currency-input id="terugbetaalbareVoorheffing" type="text" class="tool-row__input-text" name="terugbetaalbareVoorheffing"
                                    v-model="input.terugbetaalbareVoorheffing"></currency-input>
                </div>
            </div>
            <validation :errors="errors.terugbetaalbareVoorheffing"></validation>

            <div :class="errors.belastingkredietOndOntw ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="belastingkredietOndOntw">Belastingkrediet voor onderzoek en ontwikkeling dat voor het
                        huidig belastbare tijdperk terugbetaalbaar is</label>
                    <p class="tool-row__code">1850</p>
                    <currency-input id="belastingkredietOndOntw" type="text" class="tool-row__input-text" name="belastingkredietOndOntw"
                                    v-model="input.belastingkredietOndOntw"></currency-input>
                </div>
            </div>
            <validation :errors="errors.belastingkredietOndOntw"></validation>

        </fieldset>
        <fieldset id="voorafbetalingen">
            <legend class="tool__legend">Voorafbetalingen</legend>

            <div class="isStartendKMO">
                <div class="tool-row">
                    <label class="tool-row__label" for="isStartendKMO">Vrijstelling vermeerdering onvoldoende voorafbetalingen</label>
                    <p class="tool-row__code">1801</p>
                    <input id="isStartendKMO" type="radio" class="tool-row__input-radio" :value=true v-model="input.isStartendKMO">
                </div>
                <div class="tool-row">
                    <label class="tool-row__label" for="geenStartendKMO">Vermeerdering onvoldoende voorafbetalingen</label>
                    <p class="tool-row__code">1801</p>
                    <input id="geenStartendKMO" type="radio" class="tool-row__input-radio" :value=false v-model="input.isStartendKMO">
                </div>
            </div>

            <div class="tool-row">
                <label class="tool-row__label" for="aantalkwartalen">Aantal kwartalen:</label>
                <p class="tool-row__code">1001</p>
                <select id="aantalkwartalen" v-model="input.aantalkwartalen">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected="selected">4</option>
                </select>
            </div>

            <div :class="errors.voorafbetaling1 ? 'venb-input-error' : ''" v-if="input.aantalkwartalen > 3">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling1">Voorafbetaling 1</label>
                    <p class="tool-row__code">1811</p>
                    <currency-input id="voorafbetaling1" type="text" class="tool-row__input-text" name="voorafbetaling1" v-model="input.voorafbetalingKwart1"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling1"></validation>

            <div :class="errors.voorafbetaling2 ? 'venb-input-error' : ''"  v-if="input.aantalkwartalen > 2">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling2">Voorafbetaling 2</label>
                    <p class="tool-row__code">1812</p>
                    <currency-input id="voorafbetaling2" type="text" class="tool-row__input-text" name="voorafbetaling2" v-model="input.voorafbetalingKwart2"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling2"></validation>

            <div :class="errors.voorafbetaling3 ? 'venb-input-error' : ''"  v-if="input.aantalkwartalen > 1">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling3">Voorafbetaling 3</label>
                    <p class="tool-row__code">1813</p>
                    <currency-input id="voorafbetaling3" type="text" class="tool-row__input-text" name="voorafbetaling3" v-model="input.voorafbetalingKwart3"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling3"></validation>

            <div :class="errors.voorafbetaling4 ? 'venb-input-error' : ''">
                <div class="tool-row">
                    <label class="tool-row__label" for="voorafbetaling4">Voorafbetaling 4</label>
                    <p class="tool-row__code">1814</p>
                    <currency-input id="voorafbetaling4" type="text" class="tool-row__input-text" name="voorafbetaling4" v-model="input.voorafbetalingKwart4"></currency-input>
                </div>
            </div>
            <validation :errors="errors.voorafbetaling4"></validation>
        </fieldset>

        <button @click="calculate">Bereken</button>

        <div class="calculation-warning__recalculate"  v-if="!change && result" v-html="'Opgepast, input is gewijzigd! Opnieuw berekenen aub'"></div>

        <div class="results" v-if="result">

            <h2 class="results__heading-2" v-if="result">Berekeningsnota vennootschapsbelasting - aanslagjaar 2019 oud</h2>

            <div class="gewoneAanslagen-header" v-if="gewoneAanslagen">
                <h3 class="results__heading-3">  Gewone Aanslagen </h3>
            </div>
            <table class="belastbaar-stelsel result">
                <tbody>
                <template v-for="item in gewoneAanslagen">
                    <tr class="result-row" v-for="(value,index) in item" v-if="!checkNotEveryValueZero(gewoneAanslagen) &&
                        value.code === 'O 1460'">
                        <td class="result-row__description" v-html="index"></td>
                        <td class="result-row__code" v-html="value.code"></td>
                        <td class="result-row__amount" v-html="value.bedrag"></td>
                        <td class="result-row__operation" v-html="value.operation"></td>
                        <td class="result-row__percentage" v-html="value.tarief"></td>
                        <td class="result-row__equal" v-html="value.is"></td>
                        <td class="result-row__result" v-html="value.belasting"></td>
                    </tr>
                </template>
                </tbody>
            </table>

            <table class="barema">
                <tbody v-for="item in gewoneAanslagen">
                <template v-for="(value,index) in item" v-if="isArray(value.belasting) ">
                    <tr class="result-row" v-for="row in value.belasting" v-if="row instanceof Object && (value.code === 'O 1460' || value.code === 'N 1460')">
                        <td class="result-row__description" v-html="row.description"></td>
                        <td class="result-row__code" v-html="value.code"></td>
                        <td class="result-row__amount" v-html="row.bedrag"></td>
                        <td class="result-row__operation" v-html="row.operation"></td>
                        <td class="result-row__percentage" v-html="row.percentage"></td>
                        <td class="result-row__equal" v-html="row.is"></td>
                        <td class="result-row__result" v-html="row.result"></td>
                    </tr>
                </template>
                <template v-for="(value,index) in item" v-if="!isArray(value.belasting)  && value.belasting !== '0,00' && (value.code === 'O 1460' || value.code === 'N 1460')">
                    <tr class="result-row">
                        <td class="result-row__description" v-html="index"></td>
                        <td class="result-row__code" v-html="value.code"></td>
                        <td class="result-row__amount" v-html="value.bedrag"></td>
                        <td class="result-row__operation" v-html="value.operation"></td>
                        <td class="result-row__percentage" v-html="value.tarief"></td>
                        <td class="result-row__equal" v-html="value.is"></td>
                        <td class="result-row__result" v-html="value.belasting"></td>
                    </tr>
                </template>
                </tbody>
            </table>

            <table class="belastbaar-stelsel result">
                <tbody>
                <template v-for="item in gewoneAanslagen">
                    <tr class="result-row" v-for="(value,index) in item" v-if="!isArray(value.belasting) && value.belasting !== '0,00' &&
                        !(value.code === 'O 1460' || value.code === 'N 1460')">
                        <td class="result-row__description" v-html="index"></td>
                        <td class="result-row__code" v-html="value.code"></td>
                        <td class="result-row__amount" v-html="value.bedrag"></td>
                        <td class="result-row__operation" v-html="value.operation"></td>
                        <td class="result-row__percentage" v-html="value.tarief"></td>
                        <td class="result-row__equal" v-html="value.is"></td>
                        <td class="result-row__result" v-html="value.belasting"></td>
                    </tr>
                </template>
                </tbody>
            </table>
            <table class="table-total">
                <tr class="result-row">
                    <td class="result-row__description" ></td>
                    <td class="result-row__code"></td>
                    <td class="result-row__amount" ></td>
                    <td class="result-row__operation" ></td>
                    <td class="result-row__percentage" ></td>
                    <td class="result-row__equal" ></td>
                    <td class="result-row__total" v-html="totaalGewoneAanslagen" v-if="result"></td>
                </tr>
            </table>
            <div v-if="result" class="verrekenbare-voorheffingen">
                <h3 class="results__heading-3">
                    Verrekenbare voorheffingen
                </h3>
            </div>
            <table class="verrekenbare-voorheffingen">
                <tr class="result-row"  v-for="(value,key) in belastbaarGewoonStelsel" v-if="key !== 'Totaal' && key !== 'totaalVoorVermeerdering' && key !== 'vermeerdering'">
                    <td class="result-row__description" v-html="key"></td>
                    <td class="result-row__code" v-html="value.code"></td>
                    <td class="result-row__amount" ></td>
                    <td class="result-row__operation" ></td>
                    <td class="result-row__percentage" ></td>
                    <td class="result-row__equal" ></td>
                    <td class="result-row__result" v-html="value.bedrag"></td>
                </tr>
            </table>

            <table class="verrekenbare-voorheffing-totaal">
                <tbody>
                <template v-for="(value,key) in belastbaarGewoonStelsel" >
                    <tr class="result-row" v-if="key === 'totaalVoorVermeerdering'" >
                        <td class="result-row__description" ></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount" ></td>
                        <td class="result-row__operation" ></td>
                        <td class="result-row__percentage" ></td>
                        <td class="result-row__equal" ></td>
                        <td v-html="value" class="result-row__total" ></td>
                    </tr>
                    <tr class="result-row" v-if="key === 'vermeerdering'">
                        <td v-html="'Vermeerdering onvoldoende voorafbetalingen'" class="result-row__description" ></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount" ></td>
                        <td class="result-row__operation" ></td>
                        <td class="result-row__percentage" ></td>
                        <td class="result-row__equal" ></td>
                        <td v-html="value" class="result-row__result" v-if="key === 'vermeerdering'"></td>
                    </tr>
                    <tr class="result-row" v-if="key === 'Totaal'">
                        <td class="result-row__description" ></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount" ></td>
                        <td class="result-row__operation" ></td>
                        <td class="result-row__percentage" ></td>
                        <td class="result-row__equal" ></td>
                        <td v-html="value" class="result-row__total" ></td>
                    </tr>
                </template>
                </tbody>
            </table>
            <div class="AfzonderlijkBelastbaar Header" v-if="checkNotEveryValueZero(afzonderlijkBelastbaar)">
                <h3 class="results__heading-3">
                    Afzonderlijk belastbaar
                </h3>
            </div>
            <table>
                <tbody>
                <template v-for="item in afzonderlijkBelastbaar">
                    <tr class="result-row" v-for="(value,index) in item" v-if="value.belasting !== '0,00'">
                        <td class="result-row__description" v-html="index"></td>
                        <td class="result-row__code" v-html="value.code"></td>
                        <td class="result-row__amount" v-html="value.bedrag"></td>
                        <td class="result-row__operation" v-html="value.operation"></td>
                        <td class="result-row__percentage" v-html="value.tarief"></td>
                        <td class="result-row__equal" v-html="value.is"></td>
                        <td class="result-row__result" v-html="value.belasting"></td>
                    </tr>
                </template>
                </tbody>
            </table>
            <table>
                <tr class="result-row" v-if="checkNotEveryValueZero(afzonderlijkBelastbaar)">
                    <td class="result-row__description" ></td>
                    <td class="result-row__code" ></td>
                    <td class="result-row__amount" ></td>
                    <td class="result-row__operation" ></td>
                    <td class="result-row__percentage" ></td>
                    <td class="result-row__equal" ></td>
                    <td class="result-row__total" v-html="totaalDoorUTeBetalen"></td>
                </tr>
            </table>
            <div id="totaalDoorUTeBetalen" v-if="totaalDoorUTeBetalen && result">
                <table class="table-total highlight" >
                    <tr class="result-row">
                        <td class="description" >
                            <h3 class="results__heading-3 totaal-description" v-if="parseFloat(totaalDoorUTeBetalen) >= 0.00">Totaal door u te betalen</h3>
                            <h3 class="results__heading-3 totaal-description" v-else>Totaal door u terug te krijgen</h3>
                        </td>
                        <td class="result-row__total no-border" v-html="eindTotaal" v-if="result"></td>
                    </tr>
                </table>

            </div>
            <div v-if="result && !isVrijstelling">
                <div class="berekeningVanDeVermeerdering-header" v-if="result">
                    <h3 class="results__heading-3">Berekening van de vermeerdering </h3>
                </div>
                <table v-if="result">
                    <tr class="result-row">
                        <td class="result-row__description" v-html="'Belasting onderworpen aan vermeerdering'"></td>
                        <td class="result-row__code"></td>
                        <td class="result-row__amount" v-html="totaalGewoneAanslagen"></td>
                        <td class="result-row__operation"></td>
                        <td class="result-row__percentage"></td>
                        <td class="result-row__equal" ></td>
                        <td class="result-row__result" ></td>
                    </tr>
                </table>
                <table>
                    <tbody>
                    <template v-for="(value,key) in berekeningVanDeVermeerdering">
                        <tr class="result-row" v-if="key !== 'Voorafbetalingen' && key !=='grondslagCalculation' && key !== 'Saldo vermeerdering'">
                            <td class="result-row__description"  v-html="key"></td>
                            <td class="result-row__code" v-html="value.code"></td>
                            <td class="result-row__amount" v-html="value.bedrag"></td>
                            <td class="result-row__operation"></td>
                            <td class="result-row__percentage"></td>
                            <td class="result-row__equal" ></td>
                            <td class="result-row__result" ></td>
                        </tr>
                        <tr class="result-row grondslagCalculation" v-if="key === 'grondslagCalculation' && item instanceof Object" v-for="item in value">
                            <td class="result-row__description" v-html="'Grondslag voor de vermeerdering'"></td>
                            <td class="result-row__code"></td>
                            <td class="result-row__amount result-row__total--not-end-dark" v-html="item.grondslag"></td>
                            <td class="result-row__operation" v-html="item.operation"></td>
                            <td class="result-row__percentage" v-html="item.percentage"></td>
                            <td class="result-row__equal" v-html="item.is"></td>
                            <td class="result-row__result" v-html="item.vermeerdering"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
                <div id="berekeningVanDeVermeerdering response" v-for="(value,key) in berekeningVanDeVermeerdering">
                    <table>
                        <tbody>
                        <template v-for="row in value" v-if="key === 'Voorafbetalingen'">
                            <tr class="result-row" v-for="item in row">
                                <td class="result-row__description" v-html="item.number"></td>
                                <td class="result-row__code"></td>
                                <td class="result-row__amount" v-html="item.amount"></td>
                                <td class="result-row__operation" v-html="item.operation"></td>
                                <td class="result-row__percentage" v-html="item.percentage"></td>
                                <td class="result-row__equal" v-html="item.is"></td>
                                <td class="result-row__result" v-html="item.result"></td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                    <table>
                        <tr class="result-row" v-if="key === 'Saldo vermeerdering'">
                            <td class="result-row__description" v-html="key"></td>
                            <td class="result-row__description" ></td>
                            <td class="result-row__code"></td>
                            <td class="result-row__amount"></td>
                            <td class="result-row__operation"></td>
                            <td class="result-row__percentage"></td>
                            <td class="result-row__equal"></td>
                            <td class="result-row__total" v-html="value.bedrag"></td>
                        </tr>
                    </table>
                </div>
                <div class="geen-vermeerdering-indien" v-if="result">
                    <div class="description" v-html="'Geen vermeerdering indien saldo lager is dan'"></div>
                </div>

                <table class="geen-vermeerdering" v-if="result">
                    <tr class="result-row">
                        <td class="result-row__description" v-html="'- absolute grens van'"></td>
                        <td class="result-row__result" v-html="geenVemeerdering.beperking_tot"></td>
                    </tr>
                    <tr class="result-row">
                        <td class="result-row__description" v-html="' - relatieve grens van'"></td>
                        <td class="result-row__result" v-html="geenVemeerdering.beperking_grondslag"></td>
                    </tr>
                </table>

                <table class="verrekenbare-voorheffing-totaal" v-for="(value,key) in belastbaarGewoonStelsel" v-if="key === 'vermeerdering'" >
                    <tr class="result-row">
                        <td class="result-row__description" v-html="'Weerhouden vermeerdering'"></td>
                        <td v-html="value" class="result-row__total no-border"></td>
                    </tr>
                </table>

                <hr class="results__hr">

                <h3 class="results__heading-3 toegepaste-correcties-header"  v-html="'Overzicht van de toegepaste correcties'" v-if="correcties"></h3>
                <table class="toegepaste-correcties-result">

                    <tr class="result-row" v-for="item in toegepasteCorrecties" :class="item.class" v-if="correcties">
                        <td class="result-row__description" v-html="item.name"></td>
                        <td class="result-row__code" v-html="item.code" ></td>
                        <td class="result-row__amount" v-html="item.amount"></td>
                        <td class="result-row__operation"></td>
                        <td class="result-row__percentage"></td>
                        <td class="result-row__equal"></td>
                        <td class="result-row__result"></td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</template>

<script>
    import qs from 'query-string';
    import Validation from '../../../../common/resources/js/components/ValidationComponent.vue';
    import Venb2019OldDatabag from "../databags/Venb2019OldDatabag";

    export default {
        name: "v2019ajOld",
        data() {
            return {
                correcties :false,
                input: new Venb2019OldDatabag(),
                prev : new Venb2019OldDatabag(),
                response: {},
                result: false,
                gewoneAanslagen : null,
                belastbaarGewoonStelsel : null,
                totaalDoorUTeBetalen : null,
                berekeningVanDeVermeerdering : null,
                afzonderlijkBelastbaar: null,
                error: false,
                totaalGewoneAanslagen : 0,
                errors: {},
                isVrijstelling : true,
                geenVemeerdering :
                    {
                        beperking_tot : 0,
                        beperking_grondslag : 0,
                        weerhoudenVermeerdering : 0
                    },
                eindTotaal : 0,
                toegepasteCorrecties : null
            }
        },
        props: {
            baseUrl: {
                default: () => '',
                type: String
            },
            token: {
                type: String
            }
        },
        methods: {
            erase(){
                this.gewoneAanslagen = null;
                this.belastbaarGewoonStelsel = null;
                this.totaalDoorUTeBetalen = null;
                this.berekeningVanDeVermeerdering= null;
                this.afzonderlijkBelastbaar = null;
                this.totaalGewoneAanslagen = null;
                this.isVrijstelling = true;
                this.eindTotaal = null;
                this.toegepasteCorrecties =  null;
                this.input = new Venb2019OldDatabag();
                this.result = false;
            },
            setHuisVestingFalse(){
                document.getElementById("isVenootshapHuisvesting").checked ? this.input.isVenootshapHuisvesting =  true : this.input.isVenootshapHuisvesting =  false
            },
            //TODO make all the corrections empty if this is not checked
            setWijzigingAfsluitDatum()
            {
                document.getElementById("isWijzigingAfsluitdatum26072017").checked ? this.correcties = true : this.correcties = false
            },
            checkNotEveryValueZero(array){
                for (let object in array) {
                    if (array[object]["Crisisbijdrage"]["bedrag"] !== '0,00'){
                        return true
                    }
                }
                return false
            },
            isArray(object){
                return Array.isArray(object)
            },
            calculate() {
                this.result = false;
                this.gewoneAanslagen = null;
                this.belastbaarGewoonStelsel = null;
                this.totaalDoorUTeBetalen = null;
                this.berekeningVanDeVermeerdering= null;
                this.afzonderlijkBelastbaar = null;
                this.totaalGewoneAanslagen = null;
                this.eindTotaal = null;
                this.toegepasteCorrecties =  null;
                this.errors = {};
                this.setWijzigingAfsluitDatum();
                this.setHuisVestingFalse();
                let axios = {};
                if (this.token) {
                    axios = this.$http.create({
                        headers: {
                            Authorization: this.token
                        }
                    });
                } else {
                    axios = this.$http;
                }
                axios.post(
                    this.baseUrl + '/calculator/venb',
                    qs.stringify(this.input),
                    {
                        headers: {
                            'Content-Type': 'application/x-www-form-urlencoded'
                        }
                    }
                )
                    .then((response) => {
                        this.result = true;
                        this.gewoneAanslagen = response.data.data.gewoneAanslagen;
                        this.belastbaarGewoonStelsel = response.data.data.belastbaarGewoonStelsel;
                        this.totaalDoorUTeBetalen = response.data.data.totaalDoorUTeBetalen;
                        this.berekeningVanDeVermeerdering = response.data.data.berekeningVanDeVermeerdering;
                        this.afzonderlijkBelastbaar = response.data.data.afzonderlijkBelastbaar;
                        this.totaalGewoneAanslagen = response.data.data.totaalGewoneAanslagen;
                        this.isVrijstelling = this.input.isStartendKMO;
                        this.geenVemeerdering = response.data.data.geenVemeerdering;
                        this.prev = Venb2019OldDatabag.copy(this.input);
                        this.eindTotaal = response.data.data.eindTotaal;
                        this.toegepasteCorrecties =  response.data.data.toegepasteCorrecties;
                    })
                    .catch(({response}) => {
                        if (response.status === 422) {
                            this.errors = response.data.data;
                            document.querySelectorAll('input').forEach((element) => {
                                if (this.errors[element.id] !== undefined) {
                                    this.$nextTick(() => element.scrollIntoView({block: 'start', behavior: 'smooth'}));
                                }
                            });
                        }
                    })
            }
        },
        components: {
            Validation,
        },
        computed: {
            change: function () {
                return this.input.equals(this.prev);
            }
        }
    }
</script>

<style scoped>

</style>
